<script type="ts">
  import Photo from '../../models/Photo'
  import {onMount} from 'svelte'
  import {navigate} from 'svelte-routing'

  export let photos: Photo[]
  export let photoId: string
  let photoIndex: number

  $: if (photoIndex) updateId(photoIndex)

  onMount(() => {
    photoIndex = getIndex(photoId)
    toggleFullscreen()
  })

  function toggleFullscreen() {
    let elem = document.querySelector('.img-fluid')

    if (!elem) return navigate('/')
    elem!!.requestFullscreen().catch(err => {
      alert(`Error attempting to enable full-screen mode: ${err.message} (${err.name})`)
    })

    window.addEventListener('keydown', (e) => {
      if (e.code === 'ArrowRight') photoIndex = getIndex(photoId) + 1 >= photos.length ? getIndex(photoId) : getIndex(photoId) + 1
    })

    window.addEventListener('keydown', (e) => {
      if (e.code === 'ArrowLeft') photoIndex = getIndex(photoId) - 1
    })

    document.addEventListener('fullscreenchange', () => {
      if (!document.fullscreenElement) navigate('/')
    })
  }

  function getUrl(index: number) {
    if (getWidth() > 1920) return photos[index]?.url!.original
    else return photos[index]?.url!.fullHd
  }

  function updateId(index: number) {
    photoId = photos[index]._id!.toString()
  }

  function getIndex(id: string): number {
    return photos.length ? photos.indexOf(photos.find(p => p._id === id)!!) : 0
  }

  function getWidth() {
    return window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth
  }
</script>

{#if photos.length}
  <img class="img-fluid" src={getUrl(photoIndex)} alt="">
{/if}