<script lang="ts">
  import {fade, fly} from 'svelte/transition'
  import {onDestroy} from 'svelte'

  export let title: string, show = true, dismissible = true
  export let modalClass = ''
  export let flyParams = {y: -500, duration: 300}
  let backdrop: HTMLElement, modal: HTMLElement

  $: if (backdrop) document.body.appendChild(backdrop)
  $: if (modal) document.body.appendChild(modal)

  $: {
    if (show) {
      document.body.classList.add('modal-open')
      window['ga']?.('send', 'pageview', '/modal/' + title)
    }
    else
      document.body.classList.remove('modal-open')
  }

  onDestroy(() => {
    document.body.classList.remove('modal-open')
    setTimeout(() => {
      if (backdrop) backdrop.remove()
      if (modal) modal.remove()
    })
  })

  function close() {
    show = false
  }

  function onKeyUp(e: KeyboardEvent) {
    if (show && dismissible && e.code === 'Escape') close()
  }
</script>

<svelte:window on:keyup={onKeyUp}/>

{#if show}
  <div bind:this={modal} class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog {modalClass}" role="document" transition:fly={flyParams}>
      <div class="modal-content bg-light">
        <div class="modal-header mt-2">
          <slot name="additional-header"/>
          <h6 class="modal-title">{title}</h6>
          {#if dismissible}
            <button type="button" class="close p-2" data-dismiss="modal" aria-label="Close" on:click={close}>
              <span aria-hidden="true">&times;</span>
            </button>
          {/if}
        </div>
        <div class="modal-body">
          <slot/>
        </div>
        <slot name="footer"/>
      </div>
    </div>
  </div>

  <div bind:this={backdrop} class="modal-backdrop fade show" transition:fade={{duration: flyParams.duration}}></div>
{/if}
