<script lang="ts">
  import Icon from '../utils/Icon.svelte'
  import Modal from './Modal.svelte'
  import NewPhotoForm from './NewPhotoForm.svelte'
  import Photo from '../../models/Photo'

  export let photos: Photo[]
  export let showDeletePhoto: boolean
  let showAddPhoto = false
</script>

<nav class="navbar sticky-top navbar-light bg-light">
  <div class="container-fluid justify-content-center">
    <button class="btn" on:click={() => showAddPhoto = true}>
      <Icon name="plus"/>
    </button>
    <button class="btn{showDeletePhoto ? ' btn-dark' : ''}" on:click={() => showDeletePhoto = !showDeletePhoto}>
      <Icon name="trash"/>
    </button>
  </div>
</nav>

<Modal title="Test title" bind:show={showAddPhoto}>
  <NewPhotoForm bind:photos on:uploaded={() => showAddPhoto = false}/>
</Modal>