<script lang="ts">
  import {uploadPhoto} from '../repositories/photos'
  import {createEventDispatcher} from 'svelte'
  import Photo from '../../models/Photo'

  export let photos: Photo[]
  let files: FileList, title: string

  const dispatcher = createEventDispatcher()

  async function createPhoto(file: File, title: string) {
    await uploadPhoto(file, title).then(result => {
      photos = [...photos, result['photo']]
    }).catch(error => console.log(error))
    dispatcher('uploaded')
  }
</script>

<form on:submit|preventDefault={() => createPhoto(files[0], title)}>
  <div class="input-group align-middle mb-2">
    <label>
      <input placeholder="Insert title" class="form-control" type="text" bind:value={title}/>
    </label>
  </div>
  <div class="input-group">
    <input type="file" class="form-control-file" bind:files>
  </div>
  <button class="btn btn-outline-secondary rounded float-right">Submit</button>
</form>