<script type="ts">
  import Photo from '../../models/Photo'
  import {deletePhoto} from '../repositories/photos'
  import Navbar from './Navbar.svelte'
  import Icon from '../utils/Icon.svelte'
  import {Link} from 'svelte-routing'

  export let photos: Photo[]
  let showDeletePhoto = false

  async function _delete(id: string | undefined) {
    try {
      await deletePhoto(id).then(() => photos = photos.filter(photo => photo._id !== id))
    } catch (e) {
      console.log(e)
    }
  }
</script>

{#if photos}
  <Navbar bind:photos bind:showDeletePhoto/>
  <div class="container">
    <div class="row">
      {#each photos as photo}
        <div class="col-3 mt-4">
          <div class="card card-hover-effect justify-content-center position-relative"
               style="height: 220px; width: 340px;">
            {#if showDeletePhoto}
              <div class="row flex-row-reverse">
                <button class="btn btn-outline position-absolute mr-4 pt-0"
                        on:click|preventDefault={() => _delete(photo._id?.toString())}>
                  <Icon name="cross"/>
                </button>
              </div>
            {/if}
            <div class="row justify-content-center align-items-center">
              {#if photo.url}
                <Link to="/{photo._id?.toString()}">
                  <img src={photo.url.thumbnail} alt={photo.url.original} style="width: 320px; height: 200px; display: block;">
                </Link>
              {/if}
            </div>
          </div>
        </div>
      {/each}
    </div>
  </div>
{/if}