.card-hover-effect {
  transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  cursor: pointer;

  &:hover {
    box-shadow: $box-shadow;
    transform: translateY(-4px);
  }
}

.card {
  border: none;
}