.modal {
  display: block;
}

.modal-header {
  .modal-title {
    font-size: $font-size-base;
    line-height: $line-height-sm;
    font-family: $font-family-base;
    font-weight: $font-weight-normal;
  }
}
