$black: #000000;
$blue: #0030AE;
$indigo: #6610f2;
$purple: #4829B2;
$pink: #e83e8c;
$red: #ff0000;
$cherry-red: #b51313;
$orange: #ffa500;
$yellow: #ffc800;
$pale-yellow: #f7e700;
$dark-yellow: #d79000;
$green: #398f14;
$teal: #20c997;
$cyan: #17a2b5;

$white: #fff;

$brown: #72674a;
$brown-100: #665c42;
$brown-200: #5f553b;
$brown-300: #4e442b;

$gray-100: #f9fbfd;
$gray-200: #F6F9FC;
$gray-300: #e6e4e4;
$gray-350: #c7cdd2;
$gray-500: #bdbdbd;
$gray-600: #a4a4a4;
$gray-650: #8c8c8c;
$gray-700: #4E545A;
$gray-750: #454b52;
$gray-780: #3c4147;
$gray-800: #343A41;
$gray-850: #2a2f36;
$gray-900: #1e1e1e;

$body-bg: $white;
$sidebar-bg: $gray-200;
$body-color: #333333;
$link-color: $dark-yellow;
$link-hover-color: darken($dark-yellow, 20%);

$primary: $white;
$secondary: $body-color;
$warning: $orange;
$danger: $red;
$info: $gray-800;
$success: $green;
$highlight-bg: lighten($primary, 33%);

$text-muted: $gray-600;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
$font-family-base: "Inter", sans-serif;
$font-family-headings: $font-family-base;
$font-family-buttons: "Raleway", sans-serif;
$font-weight-normal: 400;
$font-weight-bolder: 500;
$font-weight-bold: 700;
$font-size-normal: 1rem;
$font-size-sm: 0.9rem;
$font-size-xs: .75rem;
$line-height-sm: 1;

$headings-font-weight: $font-weight-bold;

$enable-responsive-font-sizes: true;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

$spacer: 1rem;
$spacers: ();
$spacers: map-merge(
    (
      0: 0,
      1: ($spacer * .25),
      2: ($spacer * .5),
      3: $spacer,
      4: ($spacer * 1.5),
      5: ($spacer * 2),
      6: ($spacer * 3),
    ),
    $spacers
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1600px
);

$icon-size: 16px;
$icon-size-sm: 12px;
$icon-size-md: 18px;
$icon-size-lg: 22px;
$icon-size-xl: 32px;

$card-border-color: $gray-300;
$card-cap-bg: $body-bg;
$card-spacer-y: $spacer * 0.75;
$card-spacer-x: $spacer;
$card-border-radius: $spacer / 2;

$modal-padding-x: $spacer * 2;
$modal-header-border-width: 0;
$modal-header-padding: ($spacer) $modal-padding-x;
$modal-inner-padding: ($spacer * .5) $modal-padding-x ($spacer * 2);
$modal-content-bg: $white;
$modal-backdrop-opacity: 0.9;
$modal-backdrop-bg: $gray-700;

$border-radius: 0;
$border-radius-round: 0.3rem;