@import "./_variables";
@import "./_bootstrap";
@import "./_components";

html {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.modal-open {
  overflow-y: auto;
}

html.loading * {
  // set by gateway for global loading state
  cursor: wait !important;
}

a {
  // make links without href work
  cursor: pointer;
}

.global-warning {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
}

.white {
  color: $white !important;
}

.svg-container-tr {
  max-width: 7rem;
  right: 0;
  top: 0;
}

.svg-container-br {
  max-width: 9rem;
  right: 0;
  bottom: 0;
}

.svg-bg-tr {
  margin-right: -3rem !important;
  margin-top: -3rem !important;
}

.svg-bg-br {
  margin-right: -3rem !important;
  margin-bottom: -4rem !important;
}

@include media-breakpoint-down(md) {
  .bg-sm-hidden {
    background: none !important;
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.text-xs {
  font-size: 0.6rem;
}
