<script lang="ts">
  import PhotoListPage from './components/PhotoListPage.svelte'
  import {onMount} from 'svelte'
  import {getPhotos} from './repositories/photos'
  import Photo from '@models/Photo'
  import {Router, Route} from 'svelte-routing'
  import FullScreenView from './components/FullScreenView.svelte'

  let photos: Photo[] = []

  onMount(() => {
    loadPhotos()
  })

  async function loadPhotos() {
    await getPhotos().then(result => photos = result).catch(error => console.log(error))
  }
</script>

<Router>
  <Route path="/:id" let:params>
    <FullScreenView {photos} photoId={params.id}/>
  </Route>
  <Route path="/">
    <PhotoListPage bind:photos/>
  </Route>
</Router>